{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>{% block title %}Portfolio | Accueil{% endblock %}</title>
    <meta name="description" content="Portfoli et CV de Tano Martin, dévellopeur d'applications fullstack ...">
    <meta name="keywords" content="Tano, Martin, Tano Martin, Portfolio, Développeur, Développeur web, Application web">

    <!-- Favicons -->
    <link href="{% static 'assets/img/portfolio_icon.png' %}" rel="icon">
    <link href="{% static 'assets/img/portfolio_icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/stylePerso.css' %}" rel="stylesheet">
</head>

<body>

    <!-- ======= Mobile nav toggle button ======= -->
    <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

    <!-- ======= Header ======= -->
    <header id="header">
        <div class="d-flex flex-column">

            <div class="profile">
                <img src="{{ siteweb.photoProfil.url }}" alt="" class="img-fluid rounded-circle">
                <h1 class="text-light" style="text-align: center;">
                    <a href="{% url 'index' %}">{{ siteweb.nom }}<br>{{ siteweb.prenom }}</a>
                </h1>
                <div class="social-links mt-3 text-center">
                    {% for social in sociaux %}
                        <a href="{{ social.lien }}" class="{{ social.sociaux.nom }}" target="_blank"><i class="{{ social.sociaux.icone }}"></i></a>
                    {% endfor %}
                </div>
            </div>

            <nav id="navbar" class="nav-menu navbar">
                <ul>
                    <li>
                        <a href="{% url 'index' %}#hero" class="nav-link scrollto active">
                            <i class="bx bx-home"></i><span>Accueil</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'index' %}#about" class="nav-link scrollto">
                            <i class="bx bx-user"></i> <span>A propos</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'index' %}#skills" class="nav-link scrollto">
                            <i class="bx bx-file-blank"></i><span>Compétence</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'index' %}#resume" class="nav-link scrollto">
                            <i class="bx bx-file-blank"></i><span>Resume</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'index' %}#portfolio" class="nav-link scrollto"><i class="bx bx-book-content">
                            </i><span>Portfolio</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'index' %}#services" class="nav-link scrollto"><i class="bx bx-server">
                            </i><span>Services</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'index' %}#contact" class="nav-link scrollto">
                            <i class="bx bx-envelope"></i><span>Contact</span>
                        </a>
                    </li>
                </ul>
            </nav><!-- .nav-menu -->
        </div>
    </header><!-- End Header -->
{% block content %}
    
{% endblock content %}
<!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>2020-{% now 'Y' %} Portfolio &amp; Curriculum Vitae</span></strong>
            </div>
        </div>
    </footer><!-- End  Footer -->
    <a href="{% static 'assets/CV_YAO_TANO_MARTIN.pdf' %}" class="back-to-top d-flex align-items-center justify-content-center"><img style="width: 40px; height: 40px;" src="{% static 'assets/img/pdf-logo-telechargement.png' %}" alt="icon cv"></a>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
    <script src="{% static 'assets/vendor/purecounter/purecounter.js' %}"></script>
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/typed.js/typed.min.js' %}"></script>
    <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/certificat.js' %}"></script>

    <script src="{% static 'assets/vuejs/vue.js' %}"></script>
    <script src="{% static 'assets/vuejs/axios.min.js' %}"></script>
    <script src="{% static 'assets/vuejs/sweetalert2.all.min.js' %}"></script>

    <script>
        new Vue({
            el: "#contact",
            delimiters: ["%{", "}"],
            data: {
                nom: "",
                email: "",
                sujet: "",
                message: "",
                url: "{% url 'contactPost' %}",
            },
            methods: {
                envoieInfo() {
                    if (!this.email || !this.nom || !this.sujet || !this.message) {
                        swal.fire({
                            icon: "error",
                            text: "Veuillez remplir les champs vides, s'il vous plaît !",
                            showConfirmButton: false,
                            timer: 2000
                        })
                    }
                    else if (!/[A-Za-z'éèöïäëû ]+/.test(this.name)) {
                        swal.fire({
                            icon: "error",
                            text: "Veuillez saisir un nom valide, s'il vous plaît !",
                            showConfirmButton: false,
                            timer: 2000,
                        })
                    }
                    else if (!/(\w\.?)+@(\w\.?)+\.[A-Za-z]{2,3}/.test(this.email)) {
                        swal.fire({
                            icon: "error",
                            text: "Email invalide !",
                            showConfirmButton: false,
                            timer: 2000
                        })
                    }
                    else {
                        axios.defaults.xsrfCookieName = 'XSRF-TOKEN'
                        axios.defaults.xsrfHeaderName = 'X-XSRF-TOKEN'
                        
                        let form = new FormData()
                        
                        form.append('nom', JSON.stringify(this.nom))
                        form.append('sujet', JSON.stringify(this.sujet))
                        form.append('message', JSON.stringify(this.message))
                        form.append('email', JSON.stringify(this.email))
                        
                        axios.post(this.url, form).then((response) => {
                            if (response.data.success) {
                                swal.fire({
                                    icon: 'success',
                                    text: response.data.test_message,
                                    showConfirmButton: false,
                                    timer: 2000
                                })
                                this.nom = ""
                                this.email = ""
                                this.sujet = ""
                                this.message = ""
                            }
                            else {
                                swal.fire({
                                    icon: 'error',
                                    text: response.data.test_message,
                                    showConfirmButton: false,
                                    timer: 2000
                                })
                            }
                        }).catch((e) => {
                            console.log(e)
                        })
                    }
                }
            }
        })
    </script>
</body>
</html>
