{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<!-- ======= Hero Section ======= -->

<main id="main">
    <section id="hero" style="background: url('{{ siteweb.photoCouverture.url }}')no-repeat top center; background-size: cover;" class="d-flex flex-column justify-content-center align-items-center">
      <div class="hero-container" data-aos="fade-in">
        <h1>Tano Martin</h1>
        <p>Je suis <span class="typed" data-typed-items="{% for traval in travaux %},{{ traval.liste }}{% endfor %}"></span></p>
      </div>
    </section><!-- End Hero -->
    
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">
        
        <div class="section-title">
          <h2>A propos</h2>
          <p>{{ configuration.descriptionAPropos }}</p>
        </div>
        
        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="{{ siteweb.photoProfil.url }}" class="img-fluid" alt="photo de profil">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>{{ apropos.titre }}</h3>
            <p class="fst-italic">{{ apropos.description }}</p>
            <div class="row">
              <div class="col-lg-8">
                <ul>
              
                  {% for option in apropos.option.all %}
                    <li><i class="bi bi-chevron-right"></i> <strong>{{ option.titre }}:</strong> <span>{{ option.information }}</span></li>
                  {% endfor %}
                  
                </ul>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </section><!-- End About Section -->
    
    <!-- ======= Facts Section =======
    <section id="facts" class="facts">
      <div class="container">
        
        <div class="section-title">
          <h2>Facts</h2>
          <p>{{ configuration.descriptionFait }}</p>
        </div>
        
        <div class="row no-gutters">
          
          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Happy Clients</strong> consequuntur quae</p>
            </div>
          </div>
          
          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Projects</strong> adipisci atque cum quia aut</p>
            </div>
          </div>
          
  
        </div>
        
      </div>
    </section>End Facts Section -->
    
    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">
        
        <div class="section-title">
          <h2>Compétences</h2>
          <p>{{ configuration.descriptionCompetence }}</p>
        </div>
        
        <div class="row skills-content">
          
          <div class="col-lg-6" data-aos="fade-up">

            {% for competence in competences|slice:":6" %}
              <div class="progress">
                <span class="skill">{{ competence.titre }} <i class="val">{{ competence.pourcentage }}%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="{{ competence.pourcentage }}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            {% endfor %}

          </div>
          
          <div class="col-lg-6" data-aos="fade-up">

            {% for competence in competences|slice:"6:12" %}
            <div class="progress">
              <span class="skill">{{ competence.titre }} <i class="val">{{ competence.pourcentage }}%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{ competence.pourcentage }}" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </div>
            {% endfor %}

          </div>
          
        </div>
        
      </div>
    </section><!-- End Skills Section -->
    
    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">
        
        <div class="section-title">
          <h2>Resume</h2>
          <p>{{ configuration.descriptionResume}}</p>
        </div>
        
        <div class="row">
          
          {% for resume in resumes %}
            
            <div class="col-lg-6" data-aos="fade-up" {% if resume.last %}data-aos-delay="100"{% endif %}>        
              <h3 class="resume-title">{{ resume.titre }}</h3>
              {% for option in resume.option.all %}
                <div class="resume-item">
                  <h4>{{ option.titre }}</h4>
                  <h5>{{ option.periode }}</h5>
                  <p><em>{{ option.nomStructure | upper }}</em></p>
                  
                  {% if option.description %}
                    <p>{{ option.description | safe }}</p>
                  {% endif %}
                    
                </div>
                
              {% endfor %}
              
            </div>
          {% endfor %}

        </div>
        
      </div>
    </section><!-- End Resume Section -->
    
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">
        
        <div class="section-title">
          <h2>Portfolio</h2>
          <p>{{ configuration.descriptionPortfolio }}</p>
        </div>
        
        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              
              {% for categorie in categories %}
              <li data-filter=".filter-{{ categorie.nom }}">{{ categorie.nom|capfirst }}</li>
              {% endfor %}
              
            </ul>
          </div>
        </div>
        
        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
          
          {% for projet in projets %}
            <div class="col-lg-4 col-md-6 portfolio-item filter-{{ projet.categorie }}">
              <div class="portfolio-wrap">
                <img src="{{ projet.image.url }}" class="img-fluid portfolio-picture" alt="projet image">
                <div class="portfolio-links">
                  <a href="{{ projet.image.url }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="{{ projet.titre|capfirst }}"><i class="bx bx-plus"></i></a>
                  <a href="{% url 'portfolioDetail' projet.id %}" title="Plus de details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          {% endfor %}
            
        </div>
          
      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= certificat Section ======= -->
    <section id="certificat" class="certificat">
      <div class="container">
    
        <div class="section-title">
          <h2>Certificats</h2>
          <p>{{ configuration.descriptioncertificat }}</p>
        </div>

        <div class="row certificat-container" data-aos="fade-up" data-aos-delay="100">
    
          {% for certificat in certificats %}
            <div class="col-lg-4 col-md-6 certificat-item">
              <div class="certificat-wrap">
                <img src="{{ certificat.image.url }}" class="img-fluid certificat-picture" alt="{{ certificat.titre }}">
                <!-- <div class="certificat-links">
                  <button class="certificat-lightbox"></a><i class="">{{ certificat.titre }}</i></button>
                </div> -->
              </div>
            </div>
          {% endfor %}
    
        </div>
        <figure id="content-img-certificat">
          <img id="big-picture" src='' alt=''/>
          
        </figure>
      </div>
    </section><!-- End certificat et certificat Section -->
  
    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">
        
        <div class="section-title">
          <h2>Services</h2>
          <p>{{ configuration.descriptionService }}</p>
        </div>
        
        <div class="row">
          
          {% for service in services %}
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="{{ service.id }}00">
              <div class="icon"><i class="{{ service.icone }}"></i></div>
              <h4 class="title"><a href="">{{ service.titre }}</a></h4>
              <p class="description">{{ service.description }}</p>
            </div>
          {% endfor %}
            
        </div>
        
      </div>
    </section><!-- End Services Section -->
    
    
    {% if temoinages %}

      <!-- ======= Testimonials Section ======= -->
      <section id="testimonials" class="testimonials">
        <div class="container">
          
          <div class="section-title">
            <h2>Testimonials</h2>
            <p>{{ configuration.descriptionTemoignage }}</p>
          </div>
          
          <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
              
              {% for temoinage in temoinages %}
                <div class="swiper-slide">
                  <div class="testimonial-item" data-aos="fade-up">
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      {{ temoinage.temoignage }}
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    <img src="{{ temoinage.photo.url }}" class="testimonial-img" alt="photo temoin">
                    <h3>{{ temoinage.nom }}</h3>
                    <h4>{{ temoinage.poste }}</h4>
                  </div>
                </div><!-- End testimonial item -->
              {% endfor %}
                
            </div>
            <div class="swiper-pagination"></div>
          </div>
          
        </div>
      </section><!-- End Testimonials Section -->
        
    {% endif %}
      

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact {% if temoinages %}section-bg{% endif %}">
      <div class="container">
        
        <div class="section-title">
          <h2>Contact</h2>
          <p>{{ configuration.descriptionContact }}</p>
        </div>
        
        <div class="row" data-aos="fade-in">
          
          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Adresse :</h4>
                <p>{{ siteweb.adresse }}</p>
              </div>
              
              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>{{ siteweb.email }}</p>
              </div>
              
              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Téléphone:</h4>
                <p>{{ siteweb.telephone }}</p>
              </div>

              <iframe src="{{ siteweb.localisation }}" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>
            
          </div>
          
          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="#" method="post" class="php-email-form">
              {% csrf_token %}
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Nom et Prénoms</label>
                  <input type="text" name="name" class="form-control" id="name" required v-model="nom">
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Votre Email</label>
                  <input type="email" class="form-control" name="email" id="email" required v-model="email">
                </div>
              </div>
              <div class="form-group">
                <label for="name">Sujet</label>
                <input type="text" class="form-control" name="subject" id="subject" required v-model="sujet">
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required v-model="message"></textarea>
              </div>
              <div class="text-center"><button type="submit" @click.prevent="envoieInfo">Envoyer Message</button></div>
            </form>
          </div>
          
        </div>
        
      </div>
    </section><!-- End Contact Section -->
    
  </main><!-- End #main -->
  
{% endblock content %}
