.portfolio-picture{
    height: 250px;
    width: 400px;
}

.certificat-picture{
    height: 450px;
    width: 400px;
}

/* #content-img-certificat{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s, visibility 1s;
}

#content-img-certificat.visible {
    opacity: 1;
    visibility: visible;
}

#big-picture{
    border: 5px solid #609ed6;
    max-height: 80%;
    width: auto;
} */